@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.inter,
.inter * {
  font-family: 'Inter',tahoma, arial, serif ;
}

.reward-bg {
  background: repeating-conic-gradient(
      hsl(0deg 0% 100% / 79%) 0deg 15deg,
      hsla(0, 0%, 100%, 0) 0deg 30deg
    )
    rgb(93 225 45 / 21%);
}
.pixel,
.pixel > * {
  font-family: 'VT323',tahoma, arial, serif  !important;
}

div[class^='exploding'], div[class*=' exploding'] {
  width: 0;
  pointer-events: none;
  position: relative;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
}
.particle--fire {
  border-radius: 50%;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-family: 'VT323',tahoma, arial, serif  !important;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.control-buttons > button {
  position: relative;
}
.control-buttons > button:not(.no-tooltip):hover:after {
  background: #333;
  background: rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: #fff;
  content: attr(data-title);
  font-family: 'VT323', tahoma, arial, serif !important;
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 110%;
  padding: 5px 12px;
  min-height: 35px;
  position: absolute;
  text-align: center;
  z-index: 98;
  white-space: nowrap;
}

.window {
  position: relative;
  border: 1px solid rgba(150, 150, 150, 0.3);
  border-radius: 0.8rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  /*background: #fff;*/
  padding: 4rem 1.2rem 1.2rem;
}

.window:after {
  content: "";
  color: black;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgb(255, 95, 86);
  box-shadow: rgb(255, 189, 46) 24px 0px 0px, rgb(39, 201, 63) 48px 0px 0px;
}

button:not(.outline-squircle,.skip-squircle), [role="button"]:not(.outline-squircle, .skip-squircle) {
  mask-image: paint(squircle);
  --squircle-smooth: 0.8;
  --squircle-radius: 20px;
}

.outline-squircle {
  background: paint(squircle);
  --squircle-smooth: 0.8;
  --squircle-radius: 20px;
  --squircle-outline: 2px;
  --squircle-fill: #61bb95;
}

.generic-squircle {
  background: paint(squircle);
  --squircle-fill: #E1FFF2;
  filter: drop-shadow(-1px 10px 10px #a198b1);
}

#mouse-scroll {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  position: absolute;
  right: 20px;
}

#mouse-scroll .arrows {
  position: relative;
  bottom: 2px;
}
#mouse-scroll span{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: 0 0 2px 5px;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #000000;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
  -webkit-animation-delay: .3s;
  -moz-animation-dekay: .3s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #000000;
  position: relative;
}
#mouse-scroll .mouse-in {
  animation: animated-mouse 1.2s ease infinite;
  -webkit-animation: animated-mouse 1.2s ease infinite;
}

@keyframes animated-mouse {
  from {
    opacity: 1;
    transform: translateY(-2px);
  }
  to {
    opacity: 0;
    transform: translateY(3px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 700px;
  position: relative;
  top: -62px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(-45deg);
  }
  100% {
    transform: rotateY(-21deg);
  }
}

.book {
  --width: 195px;
  --height: 300px;
  width: var(--width);
  height: var(--height);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-29deg);
  transition: 0.3s ease;
  animation: 0.5s ease 0s 1 initAnimation;
  margin: 0 32px;
}

.book-container:hover .book,
.book-container:focus .book {
  transform: rotateY(-20deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  transform: translateZ(20px);
  background-color: var(--background-color);
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 10px 25px -10px rgb(0 0 0 / 21%);
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 1px;
  width: 38px;
  height: calc(var(--height) - 2px);
  transform: translateX(calc(var(--width) - 21px)) rotateY(90deg);
  background: linear-gradient(90deg,
  #fff 0%,
  #f9f9f9 5%,
  #fff 10%,
  #f9f9f9 15%,
  #fff 20%,
  #f9f9f9 25%,
  #fff 30%,
  #f9f9f9 35%,
  #fff 40%,
  #f9f9f9 45%,
  #fff 50%,
  #f9f9f9 55%,
  #fff 60%,
  #f9f9f9 65%,
  #fff 70%,
  #f9f9f9 75%,
  #fff 80%,
  #f9f9f9 85%,
  #fff 90%,
  #f9f9f9 95%,
  #fff 100%
  );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: var(--width);
  height: var(--height);
  transform: translateZ(-20px);
  border-radius: 0 5px 5px 0;
  box-shadow: -10px 4px 50px -10px rgb(9 3 3 / 49%);
}

.book.js-book::after,
.book.js-book > :first-child {
  background-color: #eceb06;
}
.book.js-qa::after,
.book.js-qa > :first-child {
  background-color: #000;
}
.book.react::after,
.book.react > :first-child {
  background-color: #73fffd;
}

